    body {
      height: 100vh;
      margin: 0;
    }
    .login-container {
      height: 100%;
    }
    .login-left {
      background-color: #fff;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .login-right {
      background: url('https://images.pexels.com/photos/32290180/pexels-photo-32290180.jpeg') no-repeat center center;
      background-size: cover;
    }
    .form-control {
      border-radius: 8px;
    }
    .btn-custom {
      background-color: #2e7d32;
      color: #fff;
      border-radius: 8px;
      padding: 10px;
    }
    .btn-custom:hover {
      background-color: #C8E6C9;
      color: #fff;
    }

    a {
      color: #388e3c;
      text-decoration: none;
    }
